<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmich.cps410.ekitchen.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.cmich.cps410.ekitchen.app.FoodItemListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cmich.cps410.ekitchen.app.FoodItemDetailActivity"
            android:label="@string/title_fooditem_detail"
            android:parentActivityName="edu.cmich.cps410.ekitchen.app.FoodItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.cmich.cps410.ekitchen.app.FoodItemListActivity" />
        </activity>
    </application>

</manifest>
